/*colors*/

@backgroundColor: var(--gray-200);

/*formGroup*/
@formGroupWidth: 600px;
@formGroupPadding: 1em 1em 4em;
@formGroupMargin: 20vh auto auto;

/*formField*/
@formFieldWidth: 280px;
@formFieldMarginRight: 10px;

/*submitButton*/
@submitButtonMarginRight: 20px;

/*routerLinkLogin*/
@routerLinkLogin: 10px;
@linkColor: var(--blue-500);

/*spinner*/
@gridTemplateColumnsSpinner: 1fr 1fr 1fr 1fr 1fr;
@spinnerMarginTop: 10px;

.container {

  text-align: center;
  margin-right: 4em;
  margin-left: 4em;
  padding-bottom: 4em;

  display: flex;

  .formGroup {
    background-color: @backgroundColor;
    margin: @formGroupMargin;
    max-width: @formGroupWidth;
    padding: @formGroupPadding;

    .title {
      text-align: center;
    }
    .mat-form-field {
      max-width: @formFieldWidth;
      margin-right: @formFieldMarginRight;
    }
    .submit-button {
      margin-right: @submitButtonMarginRight;
      float: right;
    }
    .register-button {
      float: left;
    }
  }

  .router-link-login{
    float: left;
    margin-left: @routerLinkLogin;

    .link-color {
      color: @linkColor;
    }
  }

  .spinner {
    margin-right: auto;
    margin-left: auto;
    margin-top: @spinnerMarginTop;
    display: grid;
    grid-template-columns: @gridTemplateColumnsSpinner;

    .spinner-position {
      margin-left: auto;
      margin-right: auto;
      grid-column-start: 3;
    }
  }
}

