<div class="container">
  <mat-card class="formGroup">
    <mat-card-title class="title">Login</mat-card-title>
    <mat-card-content *ngIf="formGroup">
      <form [formGroup]="formGroup" class="matGroup" (ngSubmit)="onLogin()">
        <mat-form-field class="mat-form-field">
          <mat-label>username</mat-label>
          <input
            type="text"
            matInput
            placeholder="*username"
            formControlName="username">
        </mat-form-field>
        <mat-form-field class="mat-form-field">
          <mat-label>password</mat-label>
          <input
            type="password"
            matInput
            placeholder="*password"
            formControlName="password">
        </mat-form-field>
        <button
          [disabled]="formGroup.invalid"
          class="submit-button"
          mat-raised-button
          color="primary"
          type="submit">
          Login
        </button>
      </form>
      <button
        [routerLink]="['/register']"
        class="register-button"
        mat-raised-button
        color="accent">
        register
      </button>
    </mat-card-content>
  </mat-card>
  <div class="spinner" *ngIf="isLoading$| async">
    <div class="spinner-position">
      <main-method-loading></main-method-loading>
    </div>
  </div>
</div>
