
@backgroundColor: var(--gray-200);

@formGroupWidth: 300px;
@marginFormGroup: 20vh auto auto;
@paddingFormGroup: 1em 1em 4em;

@formFieldFormGroupWidth: 300px;

@spinnerMarginTop: 10px;
@gridTemplateColumnsSpinner: 1fr 1fr 1fr 1fr 1fr;



.container {

  text-align: center;
  margin-right: auto;
  margin-left: auto;

  .formGroup {
    background-color: @backgroundColor;
    margin: @marginFormGroup;
    width: @formGroupWidth;

    padding: @paddingFormGroup;

    .title {
      text-align: center;
    }
    .mat-form-field {
      width: @formFieldFormGroupWidth;
    }
    .submit-button {
      float: right;
    }
    .register-button {
      float: left;
    }
  }
  .spinner {
    margin-right: auto;
    margin-left: auto;
    margin-top: @spinnerMarginTop;
    display: grid;
    grid-template-columns: @gridTemplateColumnsSpinner;

    .spinner-position {
      margin-left: auto;
      margin-right: auto;
      grid-column-start: 3;
    }
  }
}
